.hero{
    width:100%;
    min-height:calc(100vh - 90px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 90px;
    background:#FDFBFF;
}

.hero-left{
    flex:1;
    max-width:620px;
}

.badge{
    display:inline-block;
    padding:10px 22px;
    background:#F3ECFF;
    color:#7A3EF3;
    border-radius:40px;
    font-size:13px;
    font-weight:600;
    margin-bottom:30px;
}

.hero-left h1{
    font-size:72px;
    line-height:82px;
    color:#7A3EF3;
    font-weight:700;
    margin-bottom:30px;
}

.hero-left p{
    font-size:24px;
    line-height:42px;
    color:#5B6175;
    max-width:580px;
    margin-bottom:40px;
}

.users{
    margin-top:35px;

    display:flex;
    flex-direction:column;   /* Image above text */
    align-items:center;  /* Align to center */
}

.users-badge{
    width:110px;   /* Adjust if needed */
    height:auto;
    margin-bottom:12px;
}
.user-text{
    margin:0;
    font-size:16px;
    color:#5F6C8F;
    font-weight:500;
    line-height:1.5;
}

.user-text strong{
    color:#111827;
    font-weight:700;
}
 .avatars{
    display:flex;
    align-items:center;
}

.avatar-img{
    width:48px;
    height:48px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #fff;
    margin-left:-15px;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
}

.avatar-img:first-child{
    margin-left:0;
}

.user-text{
    font-size:16px;
    color:#6B7280;
    font-weight:500;
}

.user-text strong{
    color:#111827;
    font-weight:700;
}

.users span{
    font-size:18px;
    color:#4E5566;
}

.hero-right{
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.hero-right img{
    width:640px;
    max-width:100%;
}