.solutions{
    font-family: 'Inter', sans-serif;
    width:100%;
    padding:100px 80px;
    background:#fff;
}

.solutions-container{
    max-width:1280px;
    margin:auto;
    border:2px solid #62D3FF;
    border-radius:40px;
    padding:70px 60px;
}

.solutions-heading{
    text-align:center;
    margin-bottom:60px;
}

.solutions-heading h2{
    font-size:42px;
    color:#7B3FF2;
    margin-bottom:20px;
}

.solutions-heading p{
    max-width:700px;
    margin:auto;
    color:#6B7280;
    line-height:30px;
    font-size:16px;
}

.cards{
    display:flex;
    justify-content:space-between;
    gap:40px;
}

.card{
    flex:1;
    display:flex;
    flex-direction:column;
}
.card-icon{
    width:70px;
    margin-bottom:25px;
}

.card h3{
    color:#7B3FF2;
    font-size:28px;
    margin-bottom:20px;
    text-align:left;
}

.card p{
    color:#6B7280;
    line-height:28px;
    margin-bottom:25px;
    text-align:left;
    width:100%;
}

.card ul{
    list-style:none;
    padding:0;
    margin-bottom:30px;
    width:100%;
}

.card ul li{
    font-size: 'Inter', sans-serif;
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
    text-align:left;
}

.card a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    font-weight:700;
    margin-top:auto;
}

.arrow-icon{
    width:18px;
}


/* Red text for Institution card */

.red-text{
    color:#DB2777 !important;
    font-weight:600;
}

.red-link{
    color:#DB2777 !important;
    font-weight:700;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
}

.red-arrow{
    width:18px;
    height:18px;
}